
.container{
    text-align: center;
    background: blue;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background: purple;
    border-radius: 20px;
}
table{
    margin: auto;
}
input{
    height: 50px;
    font-size: 33px;
    border: 3px solid black; 
    border-radius: 15px;
    
}
Button{
    font-size: 25px;
    background: rgb(73, 83, 83);
    height: 55px;
    width: 103px;
    border-radius: 20px;
}
h1{
    font-size: 30px;
}